.header {
    width: 100%;
    border-bottom: 1px solid #e5e7eb;
    background: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 14px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    color: #111827;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.link {
    font-size: 14px;
    color: #111827;
    text-decoration: none;
}

.active {
    color: #e44848;
}